<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>MAgenceVoyage</title>
<link rel="stylesheet" type="text/css"
	href="webjars/bootstap/4.0.0-2/css/bootstrap.min.css" />
</head>
<body>
	<div class="row">
		<div th:each="v : ${vols}" class="col-md-4">
			<h1 th:text="${v.titre}"></h1>
			<p th:text="${v.description}"></p>
		</div>
	</div>
	<p>_________________________________________________________</p>
	<div class="row">
		<div th:each="r : ${reservations}" class="col-md-4">
			<h2 th:text="${r.vollid}"></h2>
			<p>Quantité : </p>
			<p th:text="${r.quantite}"></p>
			<p th:text="${r.reservationPayee}"></p>
		</div>
	</div>
	<script type="text/javascript"
		src="webjars/bootstap/4.0.0-2/js/bootstrap.min.js"></script>
</body>
</html>